@media screen and (max-width: 1290px) {
    .header {

        .logo {
            padding-bottom: 40px;    
        }
    
        .navbar {
            width: 100%;
            max-width: 180px;
            justify-content: space-between;
        }
    }
    
}

@media screen and (max-width: 992px) {

    
}

@media screen and (max-width: 768px) {

    
}

@media screen and (max-width: 640px) {

    
}