@media screen and (max-width: 1290px) {
    .header {

        .logo {
            transform: scale(0.7);
        }

        .navbar {
            max-width: 150px;
        }

        .user-panel {
            width: 100%;
            max-width: 645px;

        }
    }

    .spare-parts {
        .title-spare {
            font-size: 18px;
        }
        .facts {
            flex-direction: row;

            .fact {
                max-width: 300px;
                width: 100%;
                background-size: contain;
                background-repeat: no-repeat;

                &-img {
                    padding: 8px 15px 1px 20px;
                    transform: scale(0.7);
                }

                &-desc {
                    padding-right: 12%;
                    font-size: 15px;
                }
            }
        }
    }

    .link-header {
        font-size: 12px;
    }

    .link-panel {
        font-size: 13px;
        padding: 8px 10px;
    }
}

@media screen and (max-width: 992px) {
    .header {

        .container {
            padding: 0px 15px 5px 15px;
        }

        .navbar-items {
            display: none;
        }

        .navbar {
            display: flex;
            flex-direction: column;
            margin-left: 0;

            .link {
                padding-top: 12px;
                padding-bottom: 12px;
            }

        }

        .nav-el {
            margin-top: 12px;
            margin-bottom: 12px;
        }

        .user-panel {
            display: flex;
            flex-direction: column;

        }

        .navbar-items-show {
            position: absolute;
            top: 65px;
            left: 0;
            background-color: #003680;
            display: flex;
            flex-direction: column;
            z-index: 1;
        }

        .menu-toggle {
            display: initial;

            &:hover {
                fill: #DA4567;
            }
        }

        .logo {
            padding-bottom: 0px;
        }
    }

    .search-wrapper {

        .col-select {
            width: 30%;
            &--brand {
                height: 248px;
    
                .brand-select {
                    padding-left: 5%;
                }
            }
        }

        .col-info {
            width: 70%;
        }
    }
    

    .spare-parts {

        .facts {
            flex-direction: column;
            align-items: center;
            margin-bottom: 0;

            .fact {
                height: 89px;
                max-width: 300px;
                width: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                margin: 5px 0;

                &-img {
                    padding: 0px 10px 8px 17px;
                    transform: scale(0.7);
                }

                &-desc {
                    padding-right: 17%;
                    font-size: 15px;
                }
            }
        }
    }

    .order {
        overflow-x: auto;
        .orders-table {
        min-width: 870px;            
        }
    }

}

@media screen and (max-width: 768px) {
    .search-wrapper {

        flex-direction: column;
        .col-select {
            max-width: 100%;
            width: 100%;
            &--brand {
                height: 248px;
    
                .brand-select {
                    padding-left: 5%;
                }
            }
        }

        .col-info {
            border-top: 0;

            width: 100%;
            .info-num {
                border-bottom: 2px solid #ffab00;
                border-left: 2px solid #ffab00;
                padding-left: 5%;
                .brand-id {
                    font-size: 15px;
                }
            }
            .info-parts {
                padding-left: 34px;
                border-left: 2px solid #ffab00;
                padding-left: 5%;
                padding-bottom: 10px;
                .parts-table {
                    font-size: 15px;
                    padding: 5px 0;
                    vertical-align:top;
                    &--row1 {
                        padding-right: 5%;
                    }
                }
            }
        }
    }

    .parts-title {
        font-size: 15px;
    }

    .facts {
        margin-top: 25px;
        margin-bottom: 20px;
    }
    
    .facts-title {
        font-size: 16px;
        text-align: center;
    }

    .facts-wrapper {
        flex-direction: column;
        align-items: center;
        .fact {
            margin-bottom: 20px;
        }
    }


    // ***************************
    .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }
    .link-footer {
        font-size: 13px;
        padding: 10px 0;
    }

    .rights-reserved {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }

    .logo-footer {
        position: initial;
        display: flex;
        height: 43px;
        width: 75px;
        margin-bottom: 10px;
    }

    .footer {
        min-height: 86px;
        &-nav {
            position: initial;
        }
    }
}



@media screen and (max-width: 640px) {

}